<h1>New Game</h1>
<div class="container">
  <% @letters.each do |letter|%>
    <div class=letter><%=letter%></div>
  <% end%>
</div>
<form action="/score" method="get">
  <%= hidden_field_tag :letters, @letters %>
  <input type="text" name="word">
  <input type="submit" value="play">
</form>

